.contain{
    display:flex;
    box-sizing:border-box;
    flex-direction:column;
    background-color:rgb(200 200 200);
    padding:1em 5% 5%;
    width:100%;
    height:100%;
    border-radius:12px;
    gap:1em;
}

.contain form{
    display:flex;
    flex-direction:column;
    box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.215);
    background-color:rgb(220 220 220);
    border-radius:12px;
    padding:1em;
    gap:1em;
}

.contain form div{
    display:flex;
    flex-direction:column;
    gap:6px;
}

.contain form input{
    height:24px;
    padding: 3px 6px;
    border:1px solid rgb(215 215 215);
    border-radius:3px;
    font-size:15px;
}
.contain form textarea{
    /* height:24px; */
    padding: 3px 6px;
    border:1px solid rgb(215 215 215);
    border-radius:3px;
    font-size:15px;
}
.contain form label{
    font-weight:bold;
    font-size:18px;
}
.contain form button{
    width:75px;
    height:48px;
    border-radius:3px;
    border:none;
    background-color:blue;
    color:white;
    font-size:18px;
    cursor:pointer;    
}
.contain form button:hover{
    transition:transform 0.5s;
    transform:scale(1.1);
    background-color:rgb(86, 86, 240);
    border:1px solid green;
    /* color:green; */
    
}
.contain form button:not(:hover){
    transition:transform 0.5s;
    transform:scale(1);
    background-color:blue;
    
}