.contain{
    display:flex;
    box-sizing:border-box;
    flex-direction:column;
    background-color:rgb(200 200 200);
    padding:1em 1em 3em;
    width:100%;
    height:100%;
    border-radius:12px;
    gap:1em;
}

.contain p{
    border:none;
}
.contain h2{
    margin-bottom: 0;
}

.action{
    display:grid;
    grid-template-columns:200px 1fr;
    background-color: rgb(220 220 220);
    padding:1em;
    margin-top:1em;
    border-radius:12px;
    box-shadow:3px 3px 3px 6px rgba(74, 73, 73, 0.211);
}

.list-users{
    display:flex;
    flex-direction:column;
    border:1px solid white;
    padding:2%;
    align-items:center;
}
.list-users p{
    color:blue;
    cursor:pointer;
    font-size:15px;
}
.list-users p:hover{
    transition: color 0.5s;
    color:rgb(119, 119, 25);
    text-decoration:underline;
}

.messages{
    display:flex;
    flex-direction:column;
    height:60vh;
    padding:1em 0 0 1em;
}
.message-content{
    display:flex;
    flex-direction:column;
    height:80%;
    gap:1em;
    overflow:auto;
    /* overflow-y: scroll; */
    padding:6px 1em;
    justify-content:flex-end;
    /* align-items:center; */
}
.message-content-admin{
    display:flex;
    /* background-color:blueviolet; */
    /* color:white; */
    justify-content:flex-end;
    align-items:center;
    
    /* padding:3px; */
}
.message-content-admin p{
    background-color:blueviolet;
    color:white;
    display:inline;
    padding:3px 6px;
    border-radius:3px;
}
.message-content-client{
    display:flex;
    /* background-color:rgb(220 220 220); */
    /* color:darkblue; */
    justify-content: flex-start;
    align-items:center;
    gap:3px;
}
.message-content-client p{
    background-color:rgb(250 250 250);
    color:blueviolet;
    display:inline;
    padding:3px 6px;
    border-radius:3px;
}
.message-enter{
    box-sizing: border-box;;
    display:flex;
    align-items:center;
    height:20%;
    /* border:1px solid white; */
    padding:1em;
}
.message-enter form{
    box-sizing: border-box;
    height:100%;
    width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.message-enter form input{
    width:90%;
    border-radius:6px;
}
.message-enter form input::placeholder{
    color:rbg(250 250 250);
    opacity:0.5;
}

.errorDisplay{
    box-sizing:border-box;
    position:fixed;
    transform: translate(-50% -50%);
    /* top:-50%;
    left:-50%; */
    background-color:rgb(100 100 100);
    width:72%;
    height:72%;
    display:flex;
    flex-direction:column;
    gap:1em;
    align-items:center;
    padding-top:3em;
    border-radius:12px;
    color:rgb(243, 113, 113);
    font-weight: 600;
    font-size:18px;

    /* justify-content:center; */
}

