
@media(min-width:1500px){

    .contain{
        display:flex;
        box-sizing:border-box;
        flex-direction:column;
        background-color:rgb(200 200 200);
        padding:1em 1em 3em;
        width:100%;
        height:100%;
        border-radius:12px;
        gap:1em;
    }
    
    .upon{
        /* box-sizing:border-box; */
        display:grid;
        grid-template-columns:33% 33% 32%;
        background-color:white;
        padding:1em;
        gap:1%;
        border-radius:12px;
        box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.21);
        /* justify-content:space-between; */
    }
    
    .upon-part{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:1em;
        border-radius:6px;
        box-shadow:1px 1px 1px 3px rgba(126, 123, 123, 0.192);
        /* border:1px solid yellow; */
    }
    .upon-part p{
        border:none;
    }
    /* .upon-part div{
    
    } */
    
    
    .bottom{
        display:flex;
        flex-direction:column;
        background-color:white;
        padding:1em;
        border-radius:12px;
        box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.21);
    }
    
    .history-show{
        display:flex;
        flex-direction:column;
        /* gap:0; */
    }
    .history-show span{
        display:none;
    }
    .row{
        display:grid;
        grid-template-columns:23.8% 7.9% 11.9% 7.9% 11.9% 14.2% 14.2% 1fr;
    }
    
    /* .row h5,p{
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        display:flex;
        align-items:center;
        justify-content: center;
    } */
    .row p{
        border-top:none;
    }
    .row-h5-p-ok{
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    
    .list-orders{
        display:grid;
        grid-template-columns:23.8% 7.9% 11.9% 7.9% 11.9% 14.2% 14.2% 1fr;
    }
    /* .list-orders p{
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        border-top:none;
        font-size:15px;
        display:flex;
        align-items:center;
        justify-content: center;
    
    } */
    .list-orders button{
        width:48px;
        height:30px;
        border:none;
        background-color: blue;
        cursor:pointer;
        color:white;
        border-radius:3px;
    }
    .list-orders-p-ok{
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        border-top:none;
        font-size:15px;
        display:flex;
        align-items:center;
        justify-content: center;
    
    }

    .row-1499-remove{
        /* display:none; */
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .list-orders-1499-remove{
        /* display:none; */
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        border-top:none;
        font-size:15px;
        display:flex;
        align-items:center;
        justify-content: center;
    }
}

@media(max-width:1499px){
    .contain{
        display:flex;
        box-sizing:border-box;
        flex-direction:column;
        background-color:rgb(200 200 200);
        padding:1em 1em 3em;
        width:100%;
        height:100%;
        border-radius:12px;
        gap:1em;
    }
    
    .upon{
        /* box-sizing:border-box; */
        display:grid;
        grid-template-columns:33% 33% 32%;
        background-color:white;
        padding:1em;
        gap:1%;
        border-radius:12px;
        box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.21);
        /* justify-content:space-between; */
    }
    
    .upon-part{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:1em;
        border-radius:6px;
        box-shadow:1px 1px 1px 3px rgba(126, 123, 123, 0.192);
        /* border:1px solid yellow; */
    }
    .upon-part p{
        border:none;
    }
    /* .upon-part div{
    
    } */
    
    
    .bottom{
        display:flex;
        flex-direction:column;
        background-color:white;
        padding:1em;
        border-radius:12px;
        box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.21);
    }
    
    .history-show{
        display:flex;
        flex-direction:column;
        /* gap:0; */
    }
    .history-show span{
        display:none;
    }
    .row{
        display:grid;
        grid-template-columns:31.25% 18.75% 18.75% 18.75% 1fr;
        /* grid-template-columns:23.8% 7.9% 11.9% 7.9% 11.9% 14.2% 14.2% 1fr; */
    }
    
    .row-h5-p-ok{
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        display:flex;
        align-items:center;
        justify-content: center;
    }
    .row p{
        border-top:none;
    }
    .row-1499-remove{
        display:none;
    }
    
    .list-orders{
        display:grid;
        /* grid-template-columns:23.8% 7.9% 11.9% 7.9% 11.9% 14.2% 14.2% 1fr; */
        grid-template-columns:31.25% 18.75% 18.75% 18.75% 1fr;
    }
    .list-orders-p-ok{
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        border-top:none;
        font-size:15px;
        display:flex;
        align-items:center;
        justify-content: center;
    
    }
    .list-orders button{
        width:48px;
        height:30px;
        border:none;
        background-color: blue;
        cursor:pointer;
        color:white;
        border-radius:3px;
    }
    .list-orders-1499-remove{
        display:none;
    }
}

@media(max-width:1200px){
    .contain{
        display:flex;
        box-sizing:border-box;
        flex-direction:column;
        background-color:rgb(200 200 200);
        padding:1em 1em 3em;
        width:100%;
        height:100%;
        border-radius:12px;
        gap:1em;
    }
    
    .upon{
        /* box-sizing:border-box; */
        display:flex;
        /* grid-template-columns:33% 33% 32%; */
        flex-direction:column;
        background-color:white;
        padding:1em;
        gap:1%;
        border-radius:12px;
        box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.21);
        /* justify-content:space-between; */
    }
    
    .upon-part{
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:1em;
        border-radius:6px;
        box-shadow:1px 1px 1px 3px rgba(126, 123, 123, 0.192);
        /* border:1px solid yellow; */
    }
    .upon-part p{
        border:none;
    }
    /* .upon-part div{
    
    } */
    
    
    .bottom{
        display:flex;
        flex-direction:column;
        background-color:white;
        padding:1em;
        border-radius:12px;
        box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.21);
    }
    
    .history-show{
        display:flex;
        flex-direction:column;
        gap:1em;
        /* gap:0; */
    }
    .history-show span{
        display:flex;
    }
    .row{
        display:none;
        /* display:grid; */
        grid-template-columns:31.25% 18.75% 18.75% 18.75% 1fr;
        /* grid-template-columns:23.8% 7.9% 11.9% 7.9% 11.9% 14.2% 14.2% 1fr; */
    }
    
    /* .row-h5-p-ok{
        border:1px solid rgb(180 180 180);
        padding:3px;;
        margin:0;
        display:flex;
        align-items:center;
        justify-content: center;
    } */
    /* .row p{
        border-top:none;
    } */
    .row-1499-remove{
        display:none;
    }
    
    .list-orders{
        display:flex;
        /* display:grid; */
        /* grid-template-columns:23.8% 7.9% 11.9% 7.9% 11.9% 14.2% 14.2% 1fr; */
        /* grid-template-columns:31.25% 18.75% 18.75% 18.75% 1fr; */
        flex-direction:column;
        box-shadow:3px 3px 3px 6px rgba(0, 0, 0, 0.201);
        padding:1em;
        gap:1em;
        border-radius:12px;
    }
    .list-orders-p-ok{
        /* border:1px solid rgb(180 180 180); */
        padding:3px;;
        margin:0;
        border-top:none;
        font-size:15px;
        display:flex;
        border:none;
        justify-content:flex-start;
        gap:1em;
        /* align-items:center; */
        /* justify-content: center; */
    
    }
    .list-orders button{
        width:48px;
        height:30px;
        border:none;
        background-color: blue;
        cursor:pointer;
        color:white;
        border-radius:3px;
    }
    .list-orders-1499-remove{
        padding:3px;;
        margin:0;
        border-top:none;
        font-size:15px;
        display:flex;
        border:none;
        justify-content:flex-start;
        gap:1em;
    }
}